In [1]:
from database.playersimport PlayerManager
import pandas as pd

In [3]:
plm = PlayerManager()

df = plm.get_player()
df.head(5)

              name       position  price
id
1              Abu      Delantero   10.9
2       Alessandro  Mediocampista   10.0
3          Alfredo       Defensor   10.1
4      Andres Diaz  Mediocampista   10.5
5   Andres Freitas  Mediocampista   10.0